html {
    background-color: rgba(255, 245, 247, 0.8);
}

.row {
    border-style: hidden;
}

body {
    padding-top: 20px;
    font-size: 28px;
    font-family: SteelfishLtRegular, Arial, sans-serif;
    background: transparent;
}

.container {
    position: auto;
    vertical-align: middle;
}

.btn-group {
    border-style: hidden;
    background-color: rgba(255, 255, 255, 0);
}

.center {
    display: table
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

.sign {
    width: 100px;
    background-color: rgba(0, 0, 100, 0.6);
    color: rgba(255, 255, 255, 1);
    font-weight: bold;
    border: 2px solid rgba(0, 0, 100, 0.5);
}

h1 {
    font-weight: 800;
    font-size: 50px;
}

.margin-base-vertical {
    margin: 35px 0;
}

.btn-xlarge {
    transform:scale(1.3,1.3);
    -ms-transform:scale(1.3,1.3); /* IE 9 */
    -moz-transform:scale(1.3,1.3); /* Firefox */
    -webkit-transform:scale(1.3,1.3); /* Safari and Chrome */
    -o-transform:scale(1.3,1.3); /* Opera */
/*    padding: 18px 28px;
    font-size: 22px; //change this to your desired size
    line-height: normal;
    -webkit-border-radius: 8px;
       -moz-border-radius: 8px;
            border-radius: 8px; */
}