html {
    background: url(../img/Northwestern_University_-_lake_fill.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.row {
    border-style: hidden;
}

body {
    padding-top: 20px;
    font-size: 16px;
    font-family: "Open Sans", serif;
    background: transparent;
}

.container {
    position: auto;
    vertical-align: middle;
}

.btn-group {
    border-style: hidden;
    background-color: rgba(255, 255, 255, 0);
}

.center {
    display: table
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

.sign {
    width: 100px;
}

.btn {
    background-color: rgba(255, 255, 255, 0);
    color: rgba(0, 0, 0, 1);
    font-weight: bold;
    border:1.5px solid rgba(0, 150, 0, 0.5);
}