.bodyfont {
    font-family: helvetica, arial, sans-serif;
    font-size: 14px;
}
.circular {
    width: 160px;
    height: 160px;
    border-radius: 80px;
}
.repair {
    width: 240px;
    height: 50px;
    font-size: 24px;
}
